name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            tmp
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - uses: ankane/setup-postgres@v1
        with:
          database: iceberg_ruby_test
      # https://github.com/oxidize-rb/rb-sys/issues/268
      - if: ${{ startsWith(matrix.os, 'windows') }}
        run: echo "RUST_TARGET=x86_64-pc-windows-gnu" >> "$env:GITHUB_ENV"
      - run: bundle exec rake compile
      - run: docker run -d -p 8181:8181 apache/iceberg-rest-fixture
      - run: bundle exec rake test:memory
      - run: bundle exec rake test:rest
      - run: bundle exec rake test:sql
